<!--Index page that is called if an iPhone device is detected-->
@model IEnumerable<MvcAuction.Models.Auction>

@{
    ViewBag.Title = "Auctions: iPhone View";
    DisplayModeProvider.Instance.RequireConsistentDisplayMode = true;
}

@section Scripts {
    <!-- This content will be rendered in the Scripts section -->
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model)
{
    @Html.Partial("_AuctionTile", item)
}
